<!doctype html>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="csrf-token" content="<%=csrfToken%>">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../assets/css/all.css">
        <link rel="stylesheet" href="../assets/css/animate.css">
        <link rel="stylesheet" href="../assets/css/flaticon.css">
        <link rel="stylesheet" href="../assets/css/magnific-popup.css">
        <link rel="stylesheet" href="../assets/css/odometer.css">
        <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../assets/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="../assets/css/nice-select.css">
        <link rel="stylesheet" href="../assets/css/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/solid.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
        <title>Nodemy - Online Ticket Booking Website HTML Template</title>
    </head>
    <body>
        <!-- ==========Preloader========== -->
        <div class="preloader">
            <div class="preloader-inner">
                <div class="preloader-icon">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- ==========Preloader========== -->
        <!-- ==========Sign-In-Section========== -->
        <section class="account-section bg_img" data-background="../assets/images/account/account-bg.jpg">
            <div class="container-fuild">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar justify-content-between myshadow">
                            <div class="logo">
                                <a href="/">
                                    <h6>MONSTER</h6>
                                    <h5>N</h5>
                                    <img id="logo" src="../assets/images/logo/logo.png" alt="học viện đào tạo nodejs việt nam">
                                    <h5>DEMY</h5>                                                        
                                </a>
                            </div> 
                            <form class="form-inline account-form">
                                <div class="form-group col-auto pl-0">
                                    <label for="email2" id="labelPass3">
                                        Email<span>*</span>
                                    </label>
                                    <input class="mr-sm-2 email3" type="text" placeholder="Enter Your Email" id="email2" required>
                                    <span id="emailError2"></span>
                                </div>
                                <div class="form-group col-auto pl-0">
                                    <label for="pass2" id="labelEmail3">
                                        Password<span>*</span>
                                    </label>
                                    <input class="mr-sm-2 pass3" type="password" placeholder="Enter Your Password" id="pass2" required>
                                    <span id="passError2"></span>
                                </div>
                                <div class="col-auto pl-0 pr-0 parent">
                                    <input class="my-2 my-sm-0 sticky" id="submitSignin" value="log in" type="submit">
                                </div>
                            </form>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="padding-top padding-bottom">
                    <div class="account-area">
                        <div class="section-header-3">
                            <span class="cate">Nodemy</span>
                            <h2 class="title">Forget Password</h2>
                        </div>
                        <form class="account-form">
                            <div class="form-group">
                                <label for="email2">
                                    Email<span>*</span>
                                </label>
                                <input type="text" placeholder="Enter Your Email" id="emailReset" required>
                                <span id="emailErrorReset"></span>
                            </div>
                            <div>
                            <div class="form-group text-center">
                                <input type="submit" value="reset" id="submitPassReset">&nbsp;&nbsp;
                                <input type="submit" value="cancel" id="submitCancel">
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- ==========Sign-In-Section========== -->
        <script src="../assets/js/jquery-3.3.1.min.js"></script>
        <script src="../assets/js/modernizr-3.6.0.min.js"></script>
        <script src="../assets/js/plugins.js"></script>
        <script src="../assets/js/bootstrap.min.js"></script>
        <script src="../assets/js/isotope.pkgd.min.js"></script>
        <script src="../assets/js/magnific-popup.min.js"></script>
        <script src="../assets/js/owl.carousel.min.js"></script>
        <script src="../assets/js/wow.min.js"></script>
        <script src="../assets/js/countdown.min.js"></script>
        <script src="../assets/js/odometer.min.js"></script>
        <script src="../assets/js/viewport.jquery.js"></script>
        <script src="../assets/js/nice-select.js"></script>
        <script src="../assets/js/main.js"></script>
        <script src="../assets/js/auth.js"></script>
    </body>
</html>
